<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONESTAR-音乐盒</title>

    <link href="../static/images/me.jpg" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../static/lib/music/css/zplayer.min.css" th:href="@{/lib/music/css/zplayer.min.css}"/>
    <script type="text/javascript" src="../static/lib/music/js/zplayer.min.js"
            th:src="@{/lib/music/js/zplayer.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>


</head>
<body>

<!--导航-->
<nav class="gird-header">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui olive header item" style="font-family: STSong">阿勋博客</h2>
            <!--<div class="right m-item item m-mobile-hide">-->
            <a href="#" class="m-item item" th:href="@{/myblog/index}"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item" th:href="@{/myblog/type/0}"><i class="clone outline icon"></i>分类</a>
            <a href="#" class="m-item item" th:href="@{/myblog/archives}"><i class="clock icon"></i>留年记</a>
            <a href="#" class="m-item item active" th:href="@{/myblog/music}"><i class="music icon"></i>音乐盒</a>
            <a href="#" class="m-item item" th:href="@{/myblog/message}"><i class="book icon"></i>留言板</a>
            <a href="#" class="m-item item"><i class="pencil alternate icon"></i>友人帐</a>
            <a href="#" class="olive m-item item"><i class="image icon"></i>照片墙</a>
            <a href="#" class="m-item item"><i class="info icon"></i>关于我</a>
            <!--</div>-->
            <div class="right m-item item m-mobile-hide">
                <form name="search" action="#" th:action="@{/myblog/search}" method="post" target="_blank">
                    <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                        <input style="color: white" type="text" name="query" placeholder="Search...."
                               th:value="${query}">
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--顶部图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%">
    <img src="../static/images/music.jpg" th:src="@{/images/music.jpg}" alt="" class="ui m-bg image"
         style="width: 100%;height: 100%">
    <div class="m-bg-class_cover">
        <div class="ui container" style="position: relative ;bottom: -540px;">
            <div class="m-font-size-title m-right-bottom" align="center" style="font-family:'STXingkai'">音乐盒</div>
            <div class="m-font-size-text-init-title m-margin-top" align="center">
                是啊，我也喜欢温柔，温暖，以及寻找着相互吸引的东西。努力活下去的心，很喜欢
            </div>
        </div>
    </div>
</div>

<div class="ui m-margin- m-opacity" align="center">
    <div class="ui container box-shadow-max">
        <div id="player2"></div>
    </div>
</div>
<script>
    //初始化加载播放列表
    $(function () {
        handlerMusicData();
    })

    //处理请求数据
    function handlerMusicData() {
        var url = "/music/queryByPage"
        var params = {};
        $.get(url, params, function (result) {
            // 查询所有的播放列表。
            var zp2 = new zplayer({
                element: document.getElementById("player2"),
                lrcStart: true,/*是否开启歌词功能 ，默认false（为true时musics集合中需要传入lrc字段。）*/
                autoPlay: true,/*是否开启自动播放,默认false*/
                showLrc: true,/*开启歌词功能后是否立即展示歌词内容 ，默认false*/
                listMaxHeight: 300,/*列表最大高度，默认240*/
                listFolded: true, /*列表默认不折叠，默认false*/
                musics: result.data.pageData /*musics集合*/
            })
            zp2.init();
        })
    }


    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>
