<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：命名空间，对应一个dao层接口的全路径 -->
<mapper namespace="com.xun.sys.dao.BlogDao">

    <sql id="blogQuerry">
        <if test="title != null and title !=''">
            title like concat("%", #{title}, "%") and
        </if>
    </sql>

    <select id="findBlogs" resultMap="findBlogAll">
        select * from blog where
        <include refid="blogQuerry"></include>
        deleteState=#{deleteState}
    </select>

    <resultMap id="findBlogAll" type="com.xun.sys.vo.BlogUserTypeVo">
        <id property="id" column="id"/>
        <association property="user"
                     column="user_id"
                     select="com.xun.sys.dao.UserDao.findUserById">
        </association>
        <association property="type"
                     column="type_id"
                     select="com.xun.sys.dao.TypeDao.findTypeById">
        </association>
    </resultMap>

    <select id="findBlogByTitleAndAuthorName" resultMap="checkedBlog">
        select *
        from blog
        where title = #{title}
          and content = #{content}
    </select>
    <resultMap id="checkedBlog" type="com.xun.sys.vo.BlogUserTypeVo">
        <id property="id" column="id"/>
        <association property="user"
                     column="user_id"
                     select="com.xun.sys.dao.UserDao.findUserById">
        </association>
    </resultMap>

    <insert id="insertBlog" parameterType="com.xun.sys.vo.BlogUserTypeVo" useGeneratedKeys="true"
            keyProperty="blog.id">
        INSERT INTO `myblog`.`blog`(`id`, `title`, `user_id`, `content`, `NumberView`, `publishDate`, `updateDate`,
                                    `essayStatus`, `essayGrade`, `essayCollect`, `essayTop`, `essayTread`, `type_id`,
                                    `deleteState`, `recommend`, `blog_cover`)
        VALUES (null, #{blog.title}, #{userId}, #{blog.content}, #{blog.NumberView}, now(), #{blog.updateDate},
                #{blog.essayStatus}, #{blog.essayGrade}, #{blog.essayCollect}, #{blog.essayTop}, #{blog.essayTread},
                #{blog.type.id}, #{blog.deleteState}, #{blog.recommend},
                #{blog.blogCover})
    </insert>

    <update id="updateBlog">
        UPDATE `myblog`.`blog`
        SET `title`       = #{title},
            `content`     =#{content},
            `NumberView`  = #{NumberView},
            `updateDate`  = now(),
            `essayStatus` = #{essayStatus},
            `type_id`     = #{type.id},
            `blog_cover`  =#{blogCover}
        WHERE `id` = #{id};
    </update>

    <update id="deleteBlogByIds">
        update blog set deleteState=2,essayStatus=3 where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <delete id="chealBlog">
        delete from blog where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="recoverBlog">
        update blog set deleteState=1,essayStatus=1 where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <!--查询主页最新文章-->
    <select id="findAllFirstPageBlog" resultMap="findBlogAll">
        select *
        from blog
        where deleteState = 1
          and essayStatus = 2
        ORDER BY essayGrade, publishDate desc
    </select>
    <!--根据id查询文章所有信息-->
    <select id="findBlogInfoByBlogId" resultMap="findBlogAll">
        select *
        from blog
        where id = #{id}
          and deleteState = 1
          and essayStatus = 2
    </select>
    <!--    根据分类id查询文章信息-->
    <select id="findBlogByTypeId" resultMap="findBlogAll">
        select *
        from blog
        where type_id = #{id}
          and deleteState = 1
          and essayStatus = 2
    </select>
    <!--  查询文章信息-->
    <select id="getSearchBlog" resultMap="findBlogAll">
        select *
        from blog
        where title like concat("%", #{query}, "%")
           or content like concat("%", #{query}, "%")
            and deleteState = 1
            and essayStatus = 2
    </select>
    <!--    根据用户id查询文章发布情况-->
    <select id="findListMemory" resultMap="memory">
        select id, title, user_id, blog_cover, publishDate
        from blog
        where user_id = #{userId}
          and deleteState = 1
          and essayStatus = 2
        ORDER BY publishDate desc
    </select>
    <!--    根据用户id查询用户信息-->
    <resultMap id="memory" type="com.xun.sys.pojo.memoryBlog">
        <id column="id" property="id"></id>
        <association property="user"
                     column="user_id"
                     select="com.xun.sys.dao.UserDao.findUserById">
        </association>
    </resultMap>
</mapper>