<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：命名空间，对应一个dao层接口的全路径 -->
<mapper namespace="com.xun.sys.dao.RoleDao">

    <sql id="roleQuery">
        <if test="roleName != null and roleName !=''">
            <where>
                roleName like concat("%", #{roleName}, "%")
            </where>
        </if>
    </sql>

    <!-- 查找所有的用户 -->
    <select id="FindAllRole" resultType="com.xun.sys.pojo.Role">
        select * from roles
        <include refid="roleQuery"/>
        limit #{start}, #{pageSize}
    </select>

    <select id="getRoleCount" resultType="Integer">
        select count(1) from roles
        <include refid="roleQuery"/>
    </select>

    <select id="findInsertByName" resultType="Integer">
        select count(1)
        from roles
        where roleName = #{name};
    </select>

    <select id="updateFindById" resultType="com.xun.sys.pojo.Role">
        select * from roles where id in
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>

    <update id="updateRole">
        update roles
        set roleName     = #{name},
            note         = #{note},
            modifiedTime = now(),
            modifiedUser = #{user}
        where id = #{id}
    </update>

    <delete id="deleteRole">
        delete from roles where id in
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <insert id="insertRoleList">
        insert into roles values
        <foreach collection="list" open="" close="" separator="," item="roleList">
            (null, #{roleList.roleName}, #{roleList.note}, now(), #{roleList.modifiedTime}, #{roleList.createdUser},
            #{roleList.modifiedUser})
        </foreach>
    </insert>
</mapper>        