<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：命名空间，对应一个dao层接口的全路径 -->
<mapper namespace="com.xun.dao.UserDao">

    <sql id="userQuery">
        <if test="autherName != null and autherName !=''">
            autherName like concat("%", #{autherName}, "%") and
        </if>
        <if test="email != null and email !=''">
            email like concat("%", #{email}, "%") and
        </if>
        <if test="phone != null and phone !=''">
            phone like concat("%", #{phone}, "%") and
        </if>
    </sql>

    <!-- 查找所有的用户 -->
    <select id="findUsers" resultType="com.xun.pojo.User">
        select * from user where
        <include refid="userQuery"/>
        delete_state=#{deleteState}
        GROUP BY id DESC
    </select>

    <insert id="insertUser" parameterType="com.xun.pojo.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user`(`id`, `username`, `password`, `salt`, `authorName`, `age`, `sex`, `email`, `phone`,
                           `picture`, `personalized_sign`, `register_time`, `register_ip`, `modifiedTime`, `address`,
                           `online_status`, `user_status`, `createdUser`, `modifiedUser`)
        VALUES (null, #{username}, #{password}, #{salt}, #{authorName}, #{age}, #{sex},
                #{email}, #{phone}, #{picture}, #{personalizedSign}, now(),
                #{registerIp}, #{modifiedTime}, #{address}, #{onlineStatus}, #{userStatus}, #{createdUser},
                #{modifiedUser})
    </insert>

    <update id="updateUser">
        UPDATE user
        SET `username`          =#{username},
            `authorName`        = #{authorName},
            `age`               =#{age},
            `sex`               = #{sex},
            `email`             = #{email},
            `phone`             =#{phone},
            `picture`           =#{picture},
            `personalized_sign` = #{personalizedSign},
            `modifiedTime`      = now(),
            `address`           = #{address},
            `online_status`     = #{onlineStatus},
            `user_status`       = #{userStatus},
            `modifiedUser`      = #{modifiedUser}
        WHERE `id` = #{id};
    </update>

    <update id="deleteUseByIds">
        update user set delete_state=2 where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <delete id="chealUser">
        delete from user where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="recoverUser">
        update user set delete_state=1 where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="exportByUserId" resultType="com.xun.pojo.User">
        select * from user where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="insertUserList">
        insert into user
        (`id`, `username`, `authorName`, `sex`, `email`, `phone`,
        `picture`, `register_time`, `register_ip`, `modifiedTime`, `address`,
        `online_status`, `user_status`, `createdUser`, `modifiedUser`,`delete_state`) values
        <foreach collection="list" item="user" separator=",">
            (null, #{user.username}, #{user.authorName}, #{user.sex},
            #{user.email}, #{user.phone}, #{user.picture}, now(),
            #{user.registerIp}, #{user.modifiedTime}, #{user.address}, #{user.onlineStatus}, #{user.userStatus},
            #{user.createdUser},
            #{user.modifiedUser},#{user.deleteState})
        </foreach>

    </insert>
</mapper>        